<!DOCTYPE html>
<html>
<head><title>Expressa UFRJ</title>
<link rel = 'stylesheet' text = 'text/css' href = "/static/style.css">
<div class="relativah">
<p><img src="head1novo.jpg" ></img>
</div> 
<div class="cad1">
<a href="file:///C:/Users/consu/Documents/trabalho%20miceli/site%20miceli/site%20miceli%202.html">cadastre-se</a> 
</div>
<div class="relative">
 <form class="form-inline" action="/login" method = 'POST'>
  <label for="user">Usuario:</label>
  <input type="user" id="user" placeholder="digite usuario" name="user">
  <label for="pwd">Senha:</label>
  <input type="password" id="senha" placeholder="digite senha" name="senha">
  <label>
    <input type="checkbox" name="lembreme"> Lembrar-me
  </label>
  <button type="entrar">Entrar</button>
	</form>
</div>
</head>
<body>
<div class="relativeh">
<div class="topnav">
  <a class="active" href="#home">Meu perfil</a>
  <a href="#news">Mensagem Direta</a>
  <a href="#contact">Horarios</a>
  <a href="#about">Mapa de problemas</a>
</div>
</div>
<div class="top10">
<h1>Top 10</h1>
</div>
<div class="balao">
<img src="balao-dialogo.png" width="800" heigth="300"></img>
</div>
<div class="mine">
<img src="minerva-falando1.png" width="200" heigth="300"></img>
</div>
</div>
<div class="top10">
<h1>Top 10</h1>
</div>

<div class="ok1">
<img src="okay.png" width="50" heigth="50"></img>
<a href="https://www.w3schools.com/html/">postagem 1</a> 
</div>
<div class="ok">
<img src="okay.png" width="50" heigth="50">
<a href="https://www.w3schools.com/html/">postagem 2</a> </img>
</div>
<div class="ok">
<img src="okay.png" width="50" heigth="50"></img>
<a href="https://www.w3schools.com/html/">postagem2</a> 
</div>
<div class="ok">
<img src="okay.png" width="50" heigth="50"></img>
<a href="https://www.w3schools.com/html/">postagem  3</a> 
</div>
<div class="ok">
<img src="okay.png" width="50" heigth="50"></img>
<a href="https://www.w3schools.com/html/">postagem 4</a> 
</div>
<div class="ok">
<img src="okay.png" width="50" heigth="50"></img>
<a href="https://www.w3schools.com/html/">postagem 5</a> 
</div>
<div class="ok">
<img src="okay.png" width="50" heigth="50"></img>
<a href="https://www.w3schools.com/html/">postagem 6</a> 
</div>
<div class="ok">
<img src="okay.png" width="50" heigth="50"></img>
<a href="https://www.w3schools.com/html/">postagem 7</a> 
</div>
<div class="ok">
<img src="okay.png" width="50" heigth="50"></img>
<a href="https://www.w3schools.com/html/">postagem 8</a> 
</div>
<div class="ok">
<img src="okay.png" width="50" heigth="50"></img>
<a href="https://www.w3schools.com/html/">postagem 9</a> 
</div>
<div class="post">
<img src="postagem.png" width="900" heigth="500">
</div>

</div>
</body>
</html>
